.App {
  height: 100%;
  weight: 100%;
}

.tile {
  display: flex;
  justify-content: center;
  height: 150px;
  width: 600px;
  font-size: 11px;
  margin:0;
}

.title {
  height: 10px;
  width: 600px;
}

.body {
  height: 100px;
  width: 600px;
}
